<ion-view view-title="Music">
  <ion-content>
    <ul class="list">
      <li class="item" ng-click="loadMusic('https://www.youtube.com/embed/1ulgBoXO6l0?rel=0');">
        <h2>Alexa Goddard</h2>
        <h1>We Are Never Ever Getting Back Together by Taylor Swift (cover)</h1>
      </li>
      <li class="item" ng-click="loadMusic('https://www.youtube.com/embed/4ufq8iMYvL0?rel=0');">
        <h2>Alex G</h2>
        <h1>Roar by Katy Perry (cover)</h1>
      </li>
      <li class="item" ng-click="loadMusic('https://www.youtube.com/embed/-NijbdUXeR0?list=PLKjb5CwZBVO5z4YcIKrv_RW3iCJ9DKNI_');">
        <h2>Alex G</h2>
        <h1>Muriel</h1>
      </li>
      <li class="item" ng-click="loadMusic('');">
        <h2>Ariana Grande</h2>
        <h1>Focus</h1>
      </li>
      <li class="item" ng-click="loadMusic('');"
        <h2>PSY</h2>
        <h1>DADDY (feat. CL of 2NE1)</h1>
      </li>
      <li class="item" ng-click="loadMusic('');">
        <h2>Chris Brown</h2>
        <h1>Little More (Royalty) [Explicit Version]</h1>
      </li>
      <li class="item" ng-click="loadMusic('');">
        <h2>Sam Hunt</h2>
        <h1>Break Up In A Small Town</h1>
      </li>
      <li class="item">
        <h2>Justin Bieber</h2>
        <h1>Sorry (Purpose: The Movement)</h1>
      </li>
      <li class="item">
        <h2>Justin Bieber</h2>
        <h1>Sorry (Purpose: The Movement)</h1>
      </li>
      <li class="item">
        <h2>Justin Bieber</h2>
        <h1>Sorry (Purpose: The Movement)</h1>
      </li>
      <li class="item">
        <h2>Justin Bieber</h2>
        <h1>Sorry (Purpose: The Movement)</h1>
      </li>
    </ul>
  </ion-content>
</ion-view>
